<log4net>
  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Work\log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="1000" />
    <maximumFileSize value="1024KB" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%level %date{ISO8601} %logger [%thread] %message %exception %newline"/>
    </layout>
  </appender>

  <root>
    <level value="ALL"/>
    <appender-ref ref="FileAppender"/>
  </root>

  <logger name="CoreBackend">
    <level value="ALL"/>
  </logger>
</log4net>